{% extends 'rolllist/base_sidenav.html' %}
{% load static %}
{% block main_content %}
	<div class="row">
		<div class="col">
			<h1>Welcome to Rollist!</h1>

			<h2>About</h2>
			<div class="content_blurb">
				Rollist is a productivity tool based on the idea of being intentional about your day. The application gives you a simple set of features that allow you to:
				<ol>
					<li>Set up your schedule for each day in half hour increments</li>
					<li>Set scheduled items as recurring on specific weekdays</li>
					<li>Add items to your To Do List for each day</li>
					<li>Roll your incomplete To Do Items over from the previous day</li>
					<li>Store and view notes for each day if needed</li>
				</ol>
			</div>
			<div class="content_blurb">
				The idea is that by individually entering your schedule items for a day, you will better commit it to memory and be intentional about what you will or will not commit to in your schedule. Additionally, the longer a to do item gets rolled over, the more you consider whether or not it is actually something you will do and either prioritize accordingly or get rid of it all together. Notes are just a bonus feature to help you remember things that don't really fit in as a "to do item".
			</div>
			<h2>How to use it</h2>
			<div class="content_blurb">
				Once you have <a href="{% url 'create_user_handler' %}">registered<a/> and <a href="{% url 'login_handler' %}">logged in</a>, you will land on your dashboard. By default, it will show things for the current date. You can navigate to other days by scrolling with the "prev" and "next" buttons, or jump to a specific date using the calendar icon on the bottom bar.
			</div>
			<div class="content_blurb">
				By default, the schedule will be collapsed. This is so that you can view only your scheduled items and to do list items in a scaled down way. Expand the schedule by clicking the "+" button at the top of the dashboard screen. This will show all available time intervals for the day. Add items to it by clicking the "add item" link for any interval. Adjust the start and stop time, add a title and location, and if applicable select days of the week that this event should recur. Now, your scheduled items will appear here even when the schedule table is collapsed. Edit or delete scheduled items by expanding the schedule item menu ("[...]").
			</div>
			<div class="content_blurb">
				To add items to your to do list, click the "+ item" button under the "To do" header. You can give items a title and a priority. To roll over incomplete items from the previous day, click the "rollover" button. Rolled over items will be indicated by a black rollover icon and the number of times they have been rolled over. To complete an item, check the box next to it.
			</div>
			<h2>Questions, errors, or other issues?</h2>
			<div class="content_blurb"><a href="mailto:bo.rollist@gmail.com">Contact here.</div>
		</div>
	</div>
{% endblock %}