{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Productivity app that allows users to organize their day in 30 minute increments and keep a rolling log of to-do items.">
  <meta name="keywords" content="schedule, to do list, productivity">
  <meta name="author" content="Bo Morin">
  <title>Rollist | Simply Productive</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

  <!-- Bootstrap core CSS -->
  <link href="{% static 'rolllist/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'rolllist/css/sass-out.css' %}" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
	    <a class="navbar-brand" href="/">Rollist</a>
	    {% if user_logged_in %}
		    <ul class="nav navbar-nav navbar-nav--static-left">
		      <li>
		        <a class="" href="{% url 'user_profile' %}"><img width="15px" height="15px" src="{% static 'images/iconic/png/person-4x-w.png' %}"></a>
		      </li>
		      </li>
		    </ul>
		{% else %}
			<ul class="nav navbar-nav navbar-nav--static-left">

		      <li>
		        <a class="" href="{% url 'login_handler' %}">Log in</a>&nbsp;|
		      </li>
		      <li>
		        &nbsp;<a class="" href="{% url 'create_user_handler' %}">Register</a>
		      </li>
		    </ul>
	    {% endif %}
	  </div>
	</nav>
	<div id="backgroundcover" style="display: none;"></div>
	<div class="container main">
		{% if messages %}
			{% for message in messages %}
			  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
  		{% block main_content %}{% endblock %}
	</div>
	{% block footer %}{% endblock %}
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
  	<script src="{% static 'rolllist/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  	{% block extra_js %}{% endblock %}
</body>