{% load static extras %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Productivity app that allows users to organize their day in 30 minute increments and keep a rolling log of to-do items.">
	<meta name="keywords" content="schedule, to do list, productivity">
	<meta name="author" content="Bo Morin">
	<title>Rollist | Simply Productive</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- Bootstrap core CSS -->
	<link href="{% static 'rolllist/vendor/now-ui-dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'rolllist/vendor/now-ui-dashboard/assets/css/now-ui-dashboard.min.css' %}" rel="stylesheet">
	<link href="{% static 'rolllist/vendor/now-ui-dashboard/assets/demo/demo.css' %}" rel="stylesheet">
	<link href="{% static 'rolllist/css/style.css' %}" rel="stylesheet">
	{% block extra_head %}{% endblock %}
</head>

<body class="">
	{% block sidenav %}{% endblock %}
	<div class="wrapper">
		<!-- Navigation -->
		<div class="main-panel {% if full_width_display %}main-panel-full {% endif %}" id="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
				<div class="container-fluid">
					<a class="navbar-brand" href="/"><img class="logo" src="{% static 'images/logo-rocket-refresh.png' %}" />Rollist</a>
					{% if not full_width_display %}
						<div class="navbar-wrapper">
							<div class="navbar-toggle">
								<button type="button" class="navbar-toggler">
									<span class="navbar-toggler-bar bar1"></span>
									<span class="navbar-toggler-bar bar2"></span>
									<span class="navbar-toggler-bar bar3"></span>
								</button>
							</div>
						</div>
					{% endif %}
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-center" id="navigation">
						<ul class="navbar-nav">
							{% block center_nav %}{% endblock %}
						</ul>
					</div>
					<div class="collapse navbar-collapse justify-content-end" id="navigation">
						<ul class="navbar-nav">
							{% if user_logged_in %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout_handler' %}">
									<i class="now-ui-icons media-1_button-power"></i>
									<p>
										<span class="navbar-vis">Log Out</span>
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'user_profile' %}">
									<i class="now-ui-icons loader_gear"></i>
									<p>
										<span class="navbar-vis">Settings</span>
									</p>
								</a>
							</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{% url 'login_handler' %}">
										<i class="now-ui-icons media-1_button-power"></i>
										<p>
											<span class="navbar-vis">Log In</span>
										</p>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
			<div id="backgroundcover" style="display: none;"></div>
			<div class="panel-header panel-header-xsm"></div>
			<div class="main-content-wrapper">
				<div id="alert-center">
					{% for message in messages %}
						<div class="alert alert-{{ message|message_class}}">
							<button type="button" aria-hidden="true" class="close close-message">
							<i class="now-ui-icons ui-1_simple-remove"></i>
							</button>
							<span>{{ message.message }}</span>
						</div>
					{% endfor %}
				</div>
				{% block main_content %}{% endblock %}
			</div>
		</div>
	</div>
	<script src="{% static 'rolllist/vendor/now-ui-dashboard/assets/js/core/jquery.min.js' %}"></script>
	<script src="{% static 'rolllist/vendor/now-ui-dashboard/assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'rolllist/vendor/now-ui-dashboard/assets/js/core/bootstrap.min.js' %}"></script>
	<script src="{% static 'rolllist/vendor/now-ui-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="{% static 'rolllist/vendor/now-ui-dashboard/assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'rolllist/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'rolllist/js/base.js' %}"></script>
	{% block extra_js %}{% endblock %}
</body>