{% extends 'rolllist/base.html' %}
{% load static %}
{% block main_content %}
	<style>
		li{
			list-style: none;
			display: table-row;
			width: 100%;
		}
		label{
			width: 90px;
			display: table-cell;
			padding: 5px;
		}
		select, input: {
			display: table-cell;
			padding: 5px;
		}
	</style>

	<h2>Create an account:</h2>
	{% if errors %}
		<div class="alert">
			Errors:
			<ul>
				{% for error in errors %}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form method="POST" action="{% url 'create_user_handler' %}">{% csrf_token %}
	{{ create_form.as_ul|safe }}
	<input type="submit" value="create"/>
	</form>
{% endblock %}