{% extends 'rolllist/base.html' %}
{% load static %}
{% block main_content %}
	{% comment %} hidden modal for ajaxy forms {% endcomment %}
	<div id="modal"  style="display: none;">
		<div id="closemodal">
			<a href="" class="closemodal">(X)</a>
		</div>
		<div id="modalcontent"></div>
	</div>

	{% comment %} hidden field for loading other views via date id {% endcomment %}
	<div id="get_schedule" style="display: none;">{% url 'get_schedule' datestr=datestr %}</div>
	<div id="get_todo" style="display: none;">{% url 'get_todo' datestr=datestr %}</div>
	<div id="get_notes" style="display: none;">{% url 'get_notes' datestr=datestr %}</div>
	<div id="datestr" style="display: none;">{{ datestr }}</div>

	{% comment %} content containers {% endcomment %}
	<div class="row">
	    <div class="col">
			<div class="title text--centered">{{day}}</div>
			<div id="schedule-controls" class="text--centered">
				<button class="btn btn-xs btn-outline-info js-schedule-control" id="js-schedule-hide">hidden</button>
				<button class="btn btn-xs btn-outline-info js-schedule-control" id="js-schedule-expand">expanded</button>
				<button class="btn btn-xs btn-info js-schedule-control js-schedule-control-selected" id="js-schedule-collapse">collapsed</button>
			</div>
			<div id="schedulecontainer" class="schedulecontainer">
			</div>
	    </div>
	</div>

	<span id="todocontainter">
	</span>

	<span id="notescontainer">
	</span>

{% endblock %}

{% block footer %}
	<div class="container">
		<footer class="page-footer navbar-dark bg-dark fixed-bottom">
			{% if user_logged_in %}
				<div class="row">
					<span class="bottomnav">
						<div class="col">
					        <a class="navbar-brand daytoggle daytoggle_prev js-nav-control" href="{% url 'day_view' datestr=target_previous_date %}#schedule-collapse">< Prev</a>
					        <a class="navbar-brand daytoggle daytoggle_next js-nav-control" href="{% url 'day_view' datestr=target_next_day %}#schedule-collapse">Next ></a>
						</div>
					</span>
				</div>
			   {% endif %}
		</footer>
	</div>
{% endblock %}