{% extends 'rolllist/base.html' %}
{% load static %}
{% block main_content %}
	{% comment %} hidden modal for ajaxy forms {% endcomment %}
	<div id="modal"  style="display: none;">
		<div id="closemodal">
			<a href="" class="closemodal"><button>X</button></a>
		</div>
		<div id="modalcontent"></div>
	</div>

	{% comment %} hidden field for loading other views via date id {% endcomment %}
	<div id="get_schedule" style="display: none;">{% url 'get_schedule' datestr=datestr %}</div>
	<div id="get_todo" style="display: none;">{% url 'get_todo' datestr=datestr %}</div>
	<div id="get_notes" style="display: none;">{% url 'get_notes' datestr=datestr %}</div>
	<div id="datestr" style="display: none;">{{ datestr }}</div>

	{% comment %} content containers {% endcomment %}
	<div class="row">
	    <div class="col">
			<div id="schedule-controls" class="float--left">
				<button class="js-schedule-control schedule-toggle" id="js-schedule-hide">-</button>
				<button class="js-schedule-control schedule-toggle"  id="js-schedule-expand">++</button>
				<button class="js-schedule-control js-schedule-control-selected schedule-toggle" id="js-schedule-collapse">+</button>
			</div>
			<div class="float--left text-title date-title"><h1>{{day}}</h1></div>
		</div>
	</div>
	<div class="row">
	    <div class="col">
			<div id="schedulecontainer" class="dashcontainer--padded"></div>
			<div class="spacer_10"></div>
			<div id="todocontainter" class="dashcontainer--padded"></div>
			<div class="spacer_10"></div>
			<div id="notescontainer" class="dashcontainer--padded"></div>
	    </div>
	</div>


{% endblock %}

{% block extra_js %}
  	<script src="{% static 'rolllist/js/dashboard.js' %}"></script>
{% endblock %}

{% block footer %}
	<div class="container">
		<footer class="page-footer navbar-dark bg-dark fixed-bottom">
			{% if user_logged_in %}
				<div class="row">
					<span class="bottomnav">
						<div class="col">
					        <a class="navbar-brand daytoggle daytoggle_prev js-nav-control" href="{% url 'day_view' datestr=target_previous_date %}#js-schedule-collapse">< Prev</a>
					        <a class="navbar-brand daytoggle daytoggle_next js-nav-control" href="{% url 'day_view' datestr=target_next_day %}#js-schedule-collapse">Next ></a>
						</div>
					</span>
				</div>
			   {% endif %}
		</footer>
	</div>
{% endblock %}