{% extends 'rolllist/base.html' %}
{% load static %}
{% block main_content %}
	{% comment %} hidden modal for ajaxy forms {% endcomment %}
	<div id="modal"  style="display: none;">
		<div id="closemodal">
			<a href="" class="closemodal">(X)</a>
		</div>
		<div id="modalcontent"></div>
	</div>

	{% comment %} hidden field for loading other views via date id {% endcomment %}
	<div id="get_schedule" style="display: none;">{% url 'get_schedule' datestr=datestr %}</div>
	<div id="get_todo" style="display: none;">{% url 'get_todo' datestr=datestr %}</div>
	<div id="datestr" style="display: none;">{{ datestr }}</div>

	{% comment %} content containers {% endcomment %}
	<div class="row">
	    <div class="col">
			<span class="title">Here is your schedule for {{day}}.</span>
			<div id="schedulecontainer" class="schedulecontainer">
			</div>
	    </div>
	</div>

	<span id="todocontainter">
	</span>
	
{% endblock %}
