{% extends 'rolllist/base.html' %}
{% load static extras %}
{% block main_content %}
	{% for schedule_block in day_schedule %}

		{% comment %}Row without an existing item{% endcomment %}
		{% if not schedule_block.item %}
			<table width="100%">
				<tr class="{{ schedule_block.start_time_display|set_row_class}} ">
					<td width="8%">{{ schedule_block.start_time_display }}</td>
					<td><a href="">[ + ]</a></td>
				</tr>
			</table>
		{% else %}

		{% comment %}Row WITH an existing item{% endcomment %}
			<table width="100%">
				{% for interval_id in schedule_block.intervals %}
					{% if forloop.first %}
						<tr class="{{ interval_id|time_display_str|set_row_class }}">
							<td width="8%">
								{{ interval_id|time_display_str }}
							</td>
							<td>
								<a href="{{schedule_block.item.id}}">{{ schedule_block.item.title }} ({{ schedule_block.item.location }})</a>
							</td>
						</tr>
					{% else %}
						<tr class="{{ interval_id|time_display_str|set_row_class  }}">
							<td width="8%">{{ interval_id|time_display_str }}</td>
							<td>""</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		{% endif %}
	{% endfor %}
{% endblock %}