<div class="scheduletable">
	{% for interval in day_schedule.time_intervals %}
		{% cycle 'hour' 'halfhour' as rowinterval silent %}

		{% comment %}Row without an existing item{% endcomment %}
		{% if not interval.items %}
			<div class="schedulerow {{ rowinterval }}">
				<div class="schedulecell schedulecell-vsm">
					{% if interval.next_index %}
					<a href="{% url 'add_item' start_time_int=interval.index datestr=datestr %}" class="openmodalschedule" id="{{interval.index}}">[+]</a>
					{% else %}
						<span class="hiddentext">[+]</span>
					{% endif %}
				</div>
				<div class="schedulecell schedulecell-sm">{{interval.start_string}}</div>
				<div class="schedulecell schedulecell-lg schedulecell-filler"></div>
			</div>
		{% else %}

		{% comment %}Row WITH an existing item{% endcomment %}
			{% with item=interval.items.first %}
				<div class="schedulerow  {{ rowinterval }}">
					<div class="schedulecell schedulecell-vsm">
						<a href="{% url 'delete_item_form' item_id=item.id %}" class="openmodalschedule" id="{{interval.index}}">[+]</a>
					</div>
					<div class="schedulecell schedulecell-sm">{{interval.start_string}}</div>
					<div class="schedulecell schedulecell-lg">
					<a href="{% url 'edit_item' item_id=item.id %}" class="openmodalschedule" id="{{interval.index}}">
						{{item.title}} ({{item.location}})</a>
					</div>
				</div>
			{% endwith %}
		{% endif %}
	{% endfor %}
</div>