<div class="row">
	<div class="col">
		<h2>To-do:</h2>
		<table>
			{% for item in todo_list.get_items %}
				{% if item.completed %}
					<tr>
						<td>
							<input type="checkbox" id="{% url 'revert_todo_item' item_id=item.id %}" class="js-todo-generic" checked="checked">
						</td>
						<td colspan="2"><span class="text--striked">{{item.title}}</span></td>
						<td><a href="{% url 'delete_todo_item' item_id=item.id %}" class="js-todo-generic">[-]</a></td>
					</tr>
				{% else %}
					<tr>
						<td>

							<input type="checkbox" id="{% url 'complete_todo_item' item_id=item.id %}" class="js-todo-generic">
						</td>
						<td id="todotitle-{{item.id}}">{{item.title}}</td>
						<td id="tododays-{{item.id}}">
							{% if item.days_incomplete > 1 %}
							( {{item.days_incomplete}} days)
							{% endif %}
						</td>
						<td><a href="{% url 'delete_todo_item' item_id=item.id %}" class="js-todo-generic">[-]</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		<div>
			<a href="{% url 'add_todo_item' list_id=todo_list.pk %}" class="js-openmodal-todo button">
			<button>+ Item</button>
			</a>
			<a href="{% url 'rollover_todo' datestr=datestr %}" class="js-todo-generic button">
				<button>Rollover</button>
			</a>
		</div>
	</div>
</div>