{% extends 'rolllist/base.html' %}
{% load static extras %}
{% block main_content %}
	<h1>Notes</h1>
	 <a href="{% url 'add_note_src' datestr=today.to_url_str src='viewnotes' %}"><button>Add note</button></a>
	 <div class="spacer_10"></div>
	{% if all_notes %}
		{% for day, notes in all_notes.items %}
			<div class="row">
				<div class="col">
					<div class="allnotescontainer">
						<h2>{{ day.to_str }}</h2>
							{% for note in notes %}
								<div class="note">
									<div class="note--top">
										updated at: {{note.updated_at|format_timestamp }}
										<a href="{% url 'edit_note_src' note_id=note.id src='viewnotes' %}"><button>edit</button></a>
									</div>
									<div class="note--bottom">
										{{note.content|safe}}
									</div>
								</div>
							{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		{% else %}
			<div class="row">
				<div class="col">
					You have no notes yet
				</div>
			</div>
		{% endif %}
{% endblock %}