{% extends 'rolllist/base.html' %}
{% load static extras %}
{% block main_content %}
	<div id="managerecurringschedulecontainer">
			{% for item in recurring_items.all %}
			<div class="content--astable">
				<div class="row">
					<div class="cell cell--large">{{ item.title }} @{{item.location}}</div>
					<div class="cell">{{ item.start }}-{{ item.end }}</div>
					<div class="cell">
						{% comment %}
							<a class="js-edit" href="{% url 'edit_recurring_item' item_id=item.id %}"><button>edit</button></a>
						{% endcomment %}
						edit (coming soon)
					</div>
					<div class="cell">
						<a class="js-delete" href="{% url 'delete_recurring_item' item_id=item.id %}"><button>delete</button></a>
					</div>
				</div>
			</div>
			{% endfor %}
	</div>
{% endblock %}

{% block extra_js %}
  	<script src="{% static 'rolllist/js/manage-recurring.js' %}"></script>
{% endblock %}