{% load static %}

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
  <div class="row">
    <div class="col">
		<h1>Welcome to Time Lord</h1>
	</div>
  </div>


  <div class="row">
	  <div class="row justify-content-md-center">
	    <div class="col col-lg-9">
			<h2>Here is your schedule for {{day}}.</h2>
			<table border=1>
			{% for interval in day_schedule.time_intervals %}
				<tr>
					<td>{{interval.start_string}}</td><td>{{interval.end_string}}</td>
					{% for item in interval.items %}
					<td>{{item.title}}</td><td>{{item.location}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</table>
	    </div>

		<div class="col-3">
			<h2>To-do:</h2>
			<ul>
				{% for item in todo_items %}
					<li>{{item.title}}</li>
				{% endfor %}
			</ul>
		</div>
  </div>

</div>
