{% extends 'rolllist/base.html' %}
{% load static %}
{% block main_content %}

	{% comment %} hidden field for loading other views via date id {% endcomment %}
	<div id="get_schedule" style="display: none;">{% url 'get_schedule' datestr=datestr %}</div>
	<div id="get_todo" style="display: none;">{% url 'get_todo' datestr=datestr %}</div>
	<div id="get_notes" style="display: none;">{% url 'get_notes' datestr=datestr %}</div>
	<div id="datestr" style="display: none;">{{ datestr }}</div>

	{% comment %} content containers {% endcomment %}
	<div class="dashboard-nav">
		<div id="dashboard-nav__date">
			<div class="date-nav-links-wrapper">
				<div class="date-nav-link">
					<img src="{% static 'images/iconic/png/calendar-3x-orange.png' %}" id="datepicker" />
				</div>
				<div class="date-nav-link">
					<a class="nav-link daytoggle daytoggle_prev" href="{% url 'day_view' datestr=target_previous_date %}">< Prev</a>
				</div>
				<div class="date-nav-link">
					<a class="nav-link daytoggle daytoggle_next" href="{% url 'day_view' datestr=target_next_day %}">Next ></a>
				</div>
			</div>
		</div>
		<div class="mobile-dash-nav-lower">
		    <div id="dashboard-nav__view">
		    	<div class="view-toggle">
		    		<a id="link-schedulecontainer-wrapper" data-show-div="schedulecontainer-wrapper" data-hide-div="todocontainter-wrapper" href="" class="active">Schedule</a>
		    		<a id="link-todocontainter-wrapper" data-hide-div="schedulecontainer-wrapper" data-show-div="todocontainter-wrapper" href="" class="inactive">Tasks</a>
		    	</div>
		    </div>
		    <div id="dashboard-nav__date-display">
				<div class="date-title">
					<h1>{{day}}</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="schedulecontainer-wrapper">
		<div id="schedule-display-controls" class="">
			<button class="js-schedule-toggle"  id="table-toggled-view_full" data-hide-div="table-toggled-view_collapsed">expand</button>
			<button class="js-schedule-toggle" id="table-toggled-view_collapsed" data-hide-div="table-toggled-view_full">collapse</button>
		</div>

		<div id="schedulecontainer" class=""></div>
	</div>
	<div id="todocontainter-wrapper">
		<div id="todocontainter" class=""></div>
	</div>
	{% comment %}
	holding off on this, I don't like it.
	<div id="notescontainer" class=""></div>
	{% endcomment %}

	{% comment %} hidden modal for ajaxy forms {% endcomment %}
	<div id="modal" class="modal_dashboard"  style="display: none;">
		<div id="closemodal">
			<a href="" class="closemodal"><button class="btn btn-primary">X</button></a>
		</div>
		<div id="modalcontent"></div>
	</div>
{% endblock %}
{% block extra_head %}

  <link href="{% static 'rolllist/vendor/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  	<script src="{% static 'rolllist/vendor/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
  	<script src="{% static 'rolllist/vendor/jquery/js.cookie.js' %}"></script>
  	<script src="{% static 'rolllist/js/modal-handler.js' %}"></script>
  	<script src="{% static 'rolllist/js/dashboard.js' %}"></script>
  	<script src="{% static 'rolllist/js/schedule_table.js' %}"></script>
  	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

{% endblock %}

{% block center_nav %}
	
{% endblock %}