{% load static extras %}

<div class="schedulecontainer">
	<div id="js-scheduletable" class="scheduleblock">

		{% for item in all_day_items %}
			<table width="100%" class="js-scheduletable-scheduled">
				<tr class="scheduleblock-solid">
					<td class="scheduleblock-timecell">All day</td>
					<td>
						<div class="scheduleditem scheduleditem-start scheduleditem-end">
							<div class="text--centered zero-margin full-width">
								<div>
									{% if item.recurrance %}<img src="{% static 'images/iconic/png/loop-circular-2x.png' %}" class="icon--recurrance float--left">{% endif %} {{item.title}} ({{item.location}})
								
									<span class="float--right">
										<a href="{% url 'delete_item_form' item_id=item.id recurring=item|is_recurring_item %}" class="openmodalschedule" id="-1">delete</a>
										&nbsp;|&nbsp;
										{% if item.recurrance %}
											<a href="{% url 'manage_recurring_items' %}">manage</a>
										{% else %}
											<a href="{% url 'edit_item' item_id=item.id recurring=item|is_recurring_item %}" class="openmodalschedule" id="-1">edit</a>
										{% endif %}
									</span>
								</div>
							</div>
						</div>
					</span>
			
				</tr>
			</table>
		{% endfor %}

		{% for schedule_block in day_schedule %}
			{% comment %}Row without an existing item{% endcomment %}
			{% if not schedule_block.item %}
				<table width="100%"class="js-scheduletable-open">
					<tr class="scheduleblock-{{ schedule_block.start_time_display|set_row_class}} ">
						<td class="scheduleblock-timecell">{{ schedule_block.start_time_display }}</td>
						<td><a href="{% url 'add_item' start_time_int=schedule_block.interval datestr=datestr %}" class="openmodalschedule float--right" id="{{interval_id}}">add item</a></td>
					</tr>
				</table>
			{% else %}

			{% comment %}Row WITH an existing item{% endcomment %}
				<table width="100%" class="js-scheduletable-scheduled">
					{% for interval_id in schedule_block.intervals %}
						<tr class="scheduleblock-{{ interval_id|time_display_str|set_row_class }}">
							<td class="scheduleblock-timecell">
								{{ interval_id|time_display_str }}
							</td>
							<td>
								{% if forloop.first %}
									{% if forloop.last %}
										<div class="scheduleditem scheduleditem-start scheduleditem-end">
									{% else %}
										<div class="scheduleditem scheduleditem-start">
									{% endif %}
										<div class="text--centered zero-margin full-width">
											<div>
												{% if schedule_block.item.recurrance %}<img src="{% static 'images/iconic/png/loop-circular-2x.png' %}" class="icon--recurrance float--left">{% endif %}
												{{ schedule_block.item.title }} ({{ schedule_block.item.location }})<a href="" class="js-schedule-links-toggle float--right" id="{{ schedule_block.item.id }}">
													[...]
												</a>
											</div>
											<div id="js-schedule-links-toggle-{{ schedule_block.item.id }}" class="text--normal" style="display: none;">
												<a href="{% url 'delete_item_form' item_id=schedule_block.item.id recurring=schedule_block.item|is_recurring_item %}" class="openmodalschedule" id="{{ interval_id }}">delete</a>
												&nbsp;|&nbsp;
												{% if schedule_block.item.recurrance %}
													<a href="{% url 'manage_recurring_items' %}">manage recurring items</a>
												{% else %}
													<a href="{% url 'edit_item' item_id=schedule_block.item.id recurring=schedule_block.item|is_recurring_item %}" class="openmodalschedule" id="{{interval_id}}">edit</a>
												{% endif %}
											</div>
										</div>
									</div>
								{% elif forloop.last %}
									<div class="scheduleditem scheduleditem-end">&nbsp;</div>
								{% else %}
									<div class="scheduleditem scheduleditem-middle">&nbsp;</div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		{% endfor %}
	</div>
</div>