{% load static %}
<div class="spacer_5"></div>
<div class="row todo-kanban">
	{% for block in todo_blocks %}
		<div class="col-sm todo-kanban_group">
			<div class="todo-kanban_title">	
				{{block.title}}:
			</div>
			<div class="kanban_group--block">
				{% for item in block.items %}
					<div class="todo-kanban_item">
						<div class="todo-kanban_card todo-kanban_card--{{item.priority_display}} js-kanban-card">
								<div class="action--left">
									{% if block.previous_action %}
										<a href="{% url 'move_kanban_item' item_id=item.id target_status=block.previous_action %}" class="js-todo-generic">
											<img src="{% static 'images/iconic/arrow-previous.png' %}" />
										</a>
									{% else %}
									&nbsp;
									{% endif %}
								</div>
								<span class="js-edit-kanbanitem"
									data-edit-url="{% url 'edit_todo_item' item_id=item.id %}"
									data-delete-url="{% url 'delete_todo_item' item_id=item.id %}">
									<div class="title">
										{% if item.rollover_count > 0 %}
											<img src="{% static 'images/iconic/png/loop-circular-2x-g.png' %}" class="kanban--icon--recurrance">
											<span class="text--mild">({{item.rollover_count}})</span>
										{% endif %}
										{{ item.title }} 
									</div>
								</span>
								<div class="action--right">
									{% if block.next_action %}
										<a href="{% url 'move_kanban_item' item_id=item.id target_status=block.next_action %}" class="js-todo-generic">
											<img src="{% static 'images/iconic/arrow-next.png' %}" />
										</a>
									{% else %}
									&nbsp;
									{% endif %}
								</div>
							</div>
					</div>
				{% endfor %}
				{% if not block.items %}
					<div class="todo-kanban_item">&nbsp;</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}

</div>