{% load static %}
<div class="row">
	{% for block in todo_blocks %}
		<div class="col-sm todo-kanban_group">
			<div class="todo-kanban_title">	
				{{block.title}}:
			</div>
			{% for item in block.items %}
				<div class="todo-kanban_item todo-kanban_item--{{item.priority_display}}">
					<table class="todo-kanban">
						<tr>
							<td class="action--left">
								{% if block.previous_action %}
									<a href="{% url 'move_kanban_item' item_id=item.id target_status=block.previous_action %}" class="js-todo-generic">
										<img src="{% static 'images/iconic/arrow-previous.png' %}" />
									</a>
								{% else %}
								&nbsp;
								{% endif %}
							</td>
							<td class="link">
								<a href="{% url 'delete_todo_item' item_id=item.id %}" class="js-openmodal-todo">
									<img src="{% static 'images/iconic/png/trash-2x.png' %}" />
								</a>
							</td>
							<td class="title">
								{% if item.rollover_count > 0 %}
									<img src="{% static 'images/iconic/png/loop-circular-2x-g.png' %}" class="kanban--icon--recurrance">
									<span class="text--mild">({{item.rollover_count}})</span>
								{% endif %}
								{{ item.title }}
							</td>
							<td class="link">
								<a href="{% url 'edit_todo_item' item_id=item.id %}" class="js-openmodal-todo">
									<img src="{% static 'images/iconic/png/pencil-2x.png' %}" />
								</a>
							</td>
							<td class="action--right">
								{% if block.next_action %}
									<a href="{% url 'move_kanban_item' item_id=item.id target_status=block.next_action %}" class="js-todo-generic">
										<img src="{% static 'images/iconic/arrow-next.png' %}" />
									</a>
								{% else %}
								&nbsp;
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
			{% endfor %}
		</div>
	{% endfor %}

</div>
<div class="row">
	<div class="col">
		<div class="spacer_5"></div>
		<div>
			<a href="{% url 'add_todo_item' list_id=todo_list.pk %}" class="js-openmodal-todo button">
			<button>+ Item</button>
			</a>
			<a href="{% url 'rollover_todo' datestr=datestr %}" class="js-todo-generic button">
				<button><img src="{% static 'images/iconic/png/loop-circular-2x.png' %}" class="icon--recurrance">Rollover</button>
			</a>
		</div>
	</div>
</div>