{% load static %}
<div class="row">
	<div class="col">
		<h2>To-do:</h2>
		<div class="todocontainer">
					<div class="content--astable">
				{% for item in todo_list.get_items %}
					{% if item.completed %}
						<div class="row helper_todoitem">
							<div class="cell cell--xsm">
								<input type="checkbox" id="{% url 'revert_todo_item' item_id=item.id %}" class="js-todo-generic" checked="checked">
							</div>

							<div class="cell cell--sm">
								<img src="{% static 'images/iconic/png/loop-circular-2x-g.png' %}" class="icon--recurrance">
								<span class="text--mild">({{item.rollover_count}})</span>
							</div>
							<div class="cell">
								<span class="text--mild">
									<span class="helper_todoitem--title">{{item.title}}</span>
								</span>
							</div>
							<div class="cell cell--md">&nbsp;</div>
						</div>
					{% else %}
						<div class="row helper_todoitem">
							<div class="cell cell--xsm">

								<input type="checkbox" id="{% url 'complete_todo_item' item_id=item.id %}" class="js-todo-generic">
							</div>

							<div class="cell cell--sm">
								{% if item.days_incomplete > 1 %}
									<img src="{% static 'images/iconic/png/loop-circular-2x.png' %}" class="icon--recurrance">
									({{item.rollover_count}})
								{% else %}
									<img src="{% static 'images/iconic/png/loop-circular-2x-g.png' %}" class="icon--recurrance">
								{% endif %}
							</div>
							<div class="cell" id="todotitle-{{item.id}}">
								<span class="text--bold">
									<span class="helper_todoitem--title">{{item.title}}</span>
								</span>
							</div>
							<div class="cell cell--md">
								<a href="{% url 'delete_todo_item' item_id=item.id %}" class="js-todo-generic float--right">delete</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
		</div>
		<div class="spacer_5"></div>
		<div>
			<a href="{% url 'add_todo_item' list_id=todo_list.pk %}" class="js-openmodal-todo button">
			<button>+ Item</button>
			</a>
			<a href="{% url 'rollover_todo' datestr=datestr %}" class="js-todo-generic button">
				<button><img src="{% static 'images/iconic/png/loop-circular-2x.png' %}" class="icon--recurrance">Rollover</button>
			</a>
		</div>
	</div>
</div>