{% extends 'rolllist/base.html' %}
{% load static extras %}
{% block main_content %}
	{% comment %} hidden modal for ajaxy forms {% endcomment %}
	<div id="modal"  style="display: none;">
		<div id="closemodal">
			<a href="" class="closemodal"><button>X</button></a>
		</div>
		<div id="modalcontent"></div>
	</div>

	{% for item in recurring_items %}
		<div id="managerecurringschedulecontainer">
			<div>{{ item.title }} @{{item.location}}
				</div>
				<div class="content--astable">
				<div class="row">
					<div class="cell">{{ item.start }}-{{ item.end }}</div>
					<div class="cell">{{ item.day_of_week_display }}</div>
					<div class="cell">
						<a class="js-delete" href="{% url 'delete_recurring_item' item_id=item.id %}">delete</a>
					</div>
					<div class="cell">
						<a class="js-edit" href="{% url 'edit_recurring_item' item_id=item.id %}">edit</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block extra_js %}
  	<script src="{% static 'rolllist/js/modal-handler.js' %}"></script>
  	<script src="{% static 'rolllist/js/manage-recurring.js' %}"></script>
{% endblock %}