{% extends 'rolllist/session/user_base.html' %}
{% load static extras %}
{% block main_content %}
	<div class="row">
		<h1> Recurring Scheduled Items </h1>
		{% for item in recurring_items %}
			<div id="managerecurringschedulecontainer">
					<div class="content--astable">
					<div class="trow trow--dotted-bottom">
						<div class="tcell tcell--padded theader">{{ item.title }} @{{item.location}}
						</div>
						<div class="tcell tcell--padded">
							{% if item.all_day %} ALL DAY {% else %}{{ item.start }}-{{ item.end }}{% endif %}

						</div>
						<div class="tcell tcell--padded">{{ item.day_of_week_display }}</div>
						<div class="tcell tcell--padded">
							<a href="{% url 'delete_recurring_item' item_id=item.id %}">delete</a>
						</div>
						<div class="tcell tcell--padded">
							<a href="{% url 'edit_recurring_item' item_id=item.id %}">edit</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block extra_js %}
  	<script src="{% static 'rolllist/js/modal-handler.js' %}"></script>
  	<script src="{% static 'rolllist/js/manage-recurring.js' %}"></script>
{% endblock %}