{% load static %}
<style>
	li{
		list-style: none;
		display: table-row;
		width: 100%;
	}
	label{
		width: 90px;
		display: table-cell;
		padding: 5px;
	}
	select, input: {
		display: table-cell;
		padding: 5px;
	}
</style>

<form method="POST" action="{{ item.get_delete_url }}">{% csrf_token %}
{{ message }}
<input type="hidden" name="item_id" value="{{ item.id }}" />
<input type="submit" class="btn btn-danger" value="{% if submit_text %}{{ submit_text }}{% else %}confirm{% endif %}"/>
</form>
<br />
<form method="GET" action="{{ cancel_url }}">
	<input type="submit" class="btn btn-primary" value="cancel"/>
</form>