{% load extras %}
	{% if request.GET.show_delete %}
		<form method="POST" class="modal-delete" id="schedule_delete" action="delete">{% csrf_token %}
			<input type="submit" class="btn btn-danger" value="delete"/>
		</form>
	{% endif %}
<div class="modal-edit-form">
	<form method="POST" action="edit" id="schedule_edit">{% csrf_token %}
	{{form.start_time_init}}
	{{form.end_time_init}}
		<div class="schedule-edit-form-row">
			<div class="schedule-edit-form-group">
				<div class="label">Start time:</div><div class="field">{{form.start_time}}</div>
			</div>
			<div class="schedule-edit-form-group">
				<div class="label">End time:</div><div class="field">{{form.end_time}}</div>
			</div>
		</div>
		<div class="schedule-edit-form-row">
			<div class="label">Title:</div><div class="field">{{form.title}}</div>
		</div>
		<div class="schedule-edit-form-row">
			<div class="label">Location:</div><div class="field">{{form.location}}</div>
		</div>
		<div class="schedule-edit-form-row">
			<input type="submit" class="btn btn-success" value="submit"/>
		</div>
	</form>
</div>