$main-font-size: .9em;
$small-font-size: .7em;
$large-font-size: 1.3em;

$white: #FFFFFF;
$yellow: #FFFFE6;
$black: #000000;
$hover-blue: #6BABEF;

$button-gray: #A6A6A6;
$modal-gray: #F8F9F9;

$medium-border-color: #B2B3B3;
$dark-border-color: #969898;

$schedule-main-color: #FFFFFF;
$schedule-bottom-color: #F1EFEC;

$note-gradient-color: #F1EFEC;

$dashed-border: dashed 1px $medium-border-color;
$solid-border: solid 1px $medium-border-color;
$dotted-border: dotted 1px $medium-border-color;


body{
	font-size: $main-font-size;
}

.main{
	padding-top: 65px;
	padding-bottom: 75px;
}

h1 {
	font-weight: bold;
	font-size: $large-font-size;
	vertical-align: middle;
}

h2 {
	font-weight: bold;
	font-size: $main-font-size;
	vertical-align: middle;
}

a { 
	color: $black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $hover-blue;
	}
	.button {
		text-decoration: none;
	}
	button {
		border-radius: 3px;
		background-image: linear-gradient(to bottom, $white, $button-gray);
		font-weight: bold;
		text-decoration: none;
	}
}

.text {
	&--centered {
		text-align: center;
	}
	&--striked {
		text-decoration: line-through;
	}
	&-bold {
		font-weight: bold;
	}
}

.content {
	&--float-left {
		float: left;
	}
}

.zero-margin {
	margin: 0;
}

full-width {
	width: 100%;
}

.spacer_10 {
	display: block;
	padding: 10px;
}

button.schedule-toggle {
	border-radius: 3px;
	background-image: linear-gradient(to bottom, $white, $button-gray);
	font-weight: bold;
	width: 3em;
}

.navbar-nav{
	&--static-left {
		flex-wrap: unset;
		li {
			float: left;
			display: inline;
			color: $white;
			a {
				color: $white;
			}
		}
	}
}

.bottomnav{
	margin: auto;
	width: auto;
	display: inline-block;
	a {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.daytoggle{
	&__prev{
		float: left;
		padding-left: 10px;
	}
	&__next{
		float: right;
		padding-right: 10px;
	}
}

.date-title {
	margin-left: 10px;
}

.dashcontainer {
	&--padded {
		margin-top: 10px;
	}
}

#schedulecontainer {

	.scheduletable {
		&-link{
			display: inline;
			font-weight: bold;
			font-size: $small-font-size;
			color: #000;
			&__edit {
				a {
					padding-left: 10px;

				}
			}
			&__delete {
				float: right;
				padding-right: 5px;
			}
		}
	}

	.scheduleblock {
		border-top: $solid-border;
		border-bottom: $solid-border;
		&-timecell {
			border-right: $solid-border;
			width: 20%;
			font-size: $small-font-size;
		}
		&-dashed {
			border-bottom: $dashed-border;
			border-right: $dashed-border;
			border-left: $dashed-border;
		}
		&-solid {
			border-bottom: $solid-border;
			border-right: $solid-border;
			border-left: $solid-border;
		}
	}
	.scheduleditem {
		width: 100%;
		display: inline-block;
		&-start {
			background-color: $schedule-main-color;
			border-top: $solid-border;
			border-left: $solid-border;
			border-right: $solid-border;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background-image: linear-gradient(to top, $schedule-main-color, $schedule-main-color, $schedule-bottom-color);
		}
		&-middle {
			border-left: $solid-border;
			border-right: $solid-border;
			background-color: $schedule-main-color;
		}
		&-end {
			border-bottom: $solid-border;
			border-left: $solid-border;
			border-right: $solid-border;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-image: linear-gradient(to bottom, $schedule-main-color, $schedule-main-color, $schedule-bottom-color);
		}
	}

}

#todocontainter {
	table {
		width: 100%;
		tr {
			border-bottom: $dotted-border;
		}
	}
}

.notescontainer {
	&-table {
		display: table;
		width: 100%;
		border: $dashed-border;
		border-radius: 10px;
		margin-bottom: 10px;
		background-image: linear-gradient(to bottom, $white, $note-gradient-color);
		padding: 8px;
		padding-left: 15px;
	}
	&-row {
		display: table-row;
		.links {
			display: table-cell;
		}
		.content {
			display: table-cell;
			width: 80%;
		}
	}
}
.allnotescontainer{
	margin-bottom: 20px;
	.note {
		&--top {
			padding: 10px;
			background-color: $white;
			border: $dashed-border;
			margin-top: 5px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom: $dashed-border;
		}
		&--bottom {
			padding: 10px;
			border: $dashed-border;
			border-top: none;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-image: linear-gradient(to bottom, $white, $note-gradient-color);
		}
		a {
			float: right;
		}
	}
}

#modal {
	position: fixed;
	bottom: 45px;
	right: 0;
	z-index: 100;
	width:100%;  
	height: auto;
	background-color: $modal-gray;
	border: 2px solid;
	input, select {
		border: solid 1px;
	}
	li {
		list-style: none;
	}
	.closemodal{
		float: right;
		padding-right: 5px;
	}

	#modalcontent{
		padding: 10px;
	}
}
#backgroundcover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100;
}

.js-schedule-control { display: none; }