body {
	background-color: #ebecf1;
}
.main-panel {
	width: 100%;
	height: 100%;
}
.main-content-wrapper {
	margin: auto;
	width: 80%;
}
.panel-header-xsm {
	height: 80px;
}
.panel-header {
	padding-top: 0px;
}
.navbar .container-fluid {
	width: 80%;
	margin: auto;
}
.navbar {
	font-size: 1.7rem;
	a.navbar-brand {
		padding-top: 1rem;
	}
}

#backgroundcover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100; 
}

.modal_dashboard {
	z-index: 200; 
	background-color: #f1ce8f;
	position: fixed;
	top: 50%;
	width: 80%;
	left: 10%;
	border-radius: 15px;
	border: solid 1px;
	padding: 10px;
}

.float {
	&--heavyright {
		float: right;
		margin-right: 3rem;
	}
	&--lightright {
		float: right;
		margin-right: .5rem;
	}
}

.spacer_10 {
  display: block;
  padding: 10px; 
}

.spacer_5 {
  display: block;
  padding: 5px; 
}


.schedulecontainer {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.schedulecontainer_row {
	display: table-row;
	border-bottom: 1px dotted;
}
.schedulecontainer_cell {
	display: table-cell;
	height: 2rem;
}
.open-item {
	height: 100%;
	padding: .5rem 0;
}

.booked-item {
	background-color: #f1ce8f;
	height: 100%;
	padding: .5rem 0;
}

.item-start {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}
.item-middle {
	border-left: 1px solid;
	border-right: 1px solid;
}

.item-end {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}
.item-label {
	padding-left: 3rem;
	font-weight: bold;
}

.todo-kanban_group {
	margin: .5rem;
	height: auto;

}
.kanban_group--block {
	background-color: #f1ce8f;
	border: 1px solid #999999;
	border-radius: 15px;
	padding: 1rem;
}

.date-title {
	h1 {
		float: left;
	}
}
.date-nav {
	float: left;
	display: block;
}
.date-nav-links {
	padding-top: .4rem;
	font-size: 1.6rem;
	img {
		padding-top: .6rem;
	}
}