/* Global & nav styles */


/* Schedule table styles */


td.dashed{
	border-right: 1px dotted;
	border-left: 1px dotted;
}

td.dashed-right{
	border-right: 1px dotted;
}

/* Todo table styles */

table.todolist{
	width: 100%;
}
.title{
	margin-top: 10px;
	font-weight: bold;
}

.notecontent{
	padding-left: 10px;
}
/* Notes table styles */
table.noteslist{
	width: 100%;
	border-top: dotted 1px;
	border-right: dotted 1px;
}
table.notelinks{
	width: 100%;
}
td.notelinks{
	width: 60px;
}

/* All notes styles */
div.all-note-day{
	padding-bottom: 20px;
}
div.all-note{
	padding: 7px;
	border: solid 1px;
	background-color: #ffffe6;
}
div.all-note-timestamp{
	margin-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: dotted 1px;
	font-size: .7em;
}
div.all-note-content{
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
a.all-note-edit{
	float: right;
}

/* Modal / Popup styles */
#modal {
	position: fixed;
	bottom: 45px;
	right: 0;
	z-index: 100;
	width:100%;  
	height: auto;
	background-color: #F8F9F9;
	border: 2px solid;
}
#backgroundcover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100;
}
.closemodal{
	float: right;
	padding-right: 5px;
}
#modal input, #modal select{
	border: solid 1px;
}
#modal li{
	list-style: none;
}
#modalcontent{
	padding: 10px;
}