
/* schedule table styles */
.schedulecontainer2{
	border: 1px solid;
}
.scheduletable2{
	padding-left: 6px;
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.schedulerow2{
	display: table-row;
}
.schedulecell2{
	display: table-cell;
}
.hour2{
	border-bottom: 1px dotted;
}
.halfhour2{
	border-bottom: 1px solid;
}
.schedulecell-vsm2{
	border-left: solid 1px;
	border-right: solid 1px;
	width: 4%; /* 1 of them */
}
.schedulecell-sm2{
	width: 20%; /* 1 of them */
	border-right: solid 1px;
}
.schedulecell-lg2{
	width: 64%; /* 1 of them */
	border-right: solid 1px;
}
.schedulerow-filler2{
	border-right: 0px;
}