/* Global styles */
.container{
	padding-top: 6px;
}
.hiddentext{
	color: #FFFFFF;
}
.daynav{
	width: 100%;
}
.daynavprev{
	float: left;
	padding-left: 10px;
}
.daynavnext{
	float: right;
	padding-right: 10px;
}

/* schedule table styles */
.schedulecontainer{
	border: 1px solid;
}
.scheduletable{
	padding-left: 6px;
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.schedulerow{
	display: table-row;
}
.schedulecell{
	display: table-cell;
}
.hour{
	border-bottom: 1px dotted;
}
.halfhour{
	border-bottom: 1px solid;
}
.schedulecell-vsm{
	border-left: solid 1px;
	border-right: solid 1px;
	width: 4%; /* 1 of them */
}
.schedulecell-sm{
	width: 20%; /* 1 of them */
	border-right: solid 1px;
}
.schedulecell-lg{
	width: 64%; /* 1 of them */
	border-right: solid 1px;
}
.schedulerow-filler{
	border-right: 0px;
}

.title{
	font-weight: bold;
}

/* Modal styles */
#modal {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	width:100%;  
	height: auto;
	background-color: #F8F9F9;
	border: 2px solid;
}
#backgroundcover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100;
}
.closemodal{
	float: right;
	padding-right: 5px;
}
#modal input, #modal select{
	border: solid 1px;
}
#modal li{
	list-style: none;
}
#modalcontent{
	padding: 10px;
}