
.container{
	padding-top: 6px;
}
.scheduletable{
	padding-left: 6px;
	display: table;
	width: 100%;
}
.schedulerow .hour{
	border: solid #000 1px;
	display: table-row;
}
.schedulerow .halfhour{
	border: dashed #000 1px;
	display: table-row;
}
.schedulecell{
	display: table-cell;
}
.schedulecell-vsm{
	width: 28px;
}
.schedulecell-sm{
	width: 75px;
}
.schedulecell-lg{
	width: 80px;
}

.title{
	font-weight: bold;
}

#modal {
	position: absolute;
	right: -1px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;
	display: none;
	border: 2px solid;
}