.round-dashed-box, #schedulecontainer .schedulecontainer, #managerecurringschedulecontainer, #todocontainter .todocontainer, .notescontainer-table {
  display: table;
  width: 100%;
  border: dashed 1px #B2B3B3;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #FFFFF0; }

body {
  font-size: 0.9em; }

.main {
  padding-top: 65px;
  padding-bottom: 75px; }

h1 {
  font-weight: bold;
  font-size: 1.3em;
  vertical-align: middle;
  color: #000000; }

h2 {
  font-size: 1.3em;
  vertical-align: middle;
  color: #797979; }

.alert {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; }
  @media screen and (max-width: 425px) {
    .alert {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }

a {
  color: #0E6BCE;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #6BABEF; }
  a .button {
    text-decoration: none; }
  a button {
    font-size: 0.8em;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #FFFFFF, #A6A6A6);
    font-weight: bold;
    text-decoration: none; }
    a button .small {
      font-size: 0.6em; }

.text--centered {
  text-align: center; }
.text--striked {
  text-decoration: line-through; }
.text--bold {
  font-weight: bold; }
.text--mild {
  font-weight: normal;
  color: #A6A6A6 !important; }
.text--normal {
  font-weight: normal; }
.text--white {
  color: #FFFFFF; }

.content--centered {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; }
.content--astable {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }
  .content--astable .row {
    display: table-row;
    border-bottom: dotted 1px #B2B3B3; }
    .content--astable .row:last-of-type {
      border-bottom: none; }
  .content--astable .cell {
    display: table-cell;
    border-right: dotted 1px #B2B3B3;
    padding: 5px; }
    .content--astable .cell:last-of-type {
      border-right: none; }
    .content--astable .cell--xsm {
      width: 3%; }
      @media screen and (max-width: 425px) {
        .content--astable .cell--xsm {
          width: 9%; } }
    .content--astable .cell--sm {
      width: 6%; }
      @media screen and (max-width: 425px) {
        .content--astable .cell--sm {
          width: 19%; } }
    .content--astable .cell--md {
      width: 10%; }
      @media screen and (max-width: 425px) {
        .content--astable .cell--md {
          width: 30%; } }
.content_blurb {
  padding-bottom: 1.5em; }

table.dashed {
  border-collapse: collapse;
  border-spacing: 2px; }
  table.dashed td {
    border: dashed 1px #B2B3B3;
    padding: .3em; }

.float--left {
  float: left;
  margin-left: 5px; }
.float--right {
  float: right;
  margin-right: 5px; }

.zero-margin {
  margin: 0; }

full-width {
  width: 100%; }

.spacer_10 {
  display: block;
  padding: 10px; }

.spacer_5 {
  display: block;
  padding: 5px; }

button.schedule-toggle {
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #FFFFFF, #A6A6A6);
  font-weight: bold;
  width: 3em; }

.navbar-nav--static-left {
  flex-wrap: unset; }
  .navbar-nav--static-left li {
    float: left;
    display: inline;
    color: #FFFFFF; }
    .navbar-nav--static-left li a {
      color: #FFFFFF; }

.bottomnav {
  margin: auto;
  width: auto;
  display: inline-block; }
  .bottomnav a {
    padding-left: 50px;
    padding-right: 50px; }
  .bottomnav .content--astable .row, .bottomnav .content--astable .cell {
    border: none;
    text-align: center; }

.date-title {
  margin-left: 10px; }

.dashcontainer--padded {
  margin-top: 10px; }

#user_profile-links ul {
  padding: 0; }
  @media screen and (max-width: 425px) {
    #user_profile-links ul {
      margin-left: 15px; } }
#user_profile-links li {
  list-style: none;
  margin-bottom: 10px; }
@media screen and (max-width: 425px) {
  #user_profile-links button {
    margin-left: 15px; } }

#schedulecontainer .scheduletable-link {
  display: inline;
  font-weight: bold;
  color: #000; }
  #schedulecontainer .scheduletable-link__edit a {
    padding-left: 10px; }
  #schedulecontainer .scheduletable-link__delete {
    float: right;
    padding-right: 5px; }
#schedulecontainer .schedulecontainer {
  background-color: #FFFFFF; }
#schedulecontainer .scheduleblock-timecell {
  border-right: solid 1px #B2B3B3;
  width: 10%; }
  @media screen and (max-width: 425px) {
    #schedulecontainer .scheduleblock-timecell {
      width: 25%; } }
#schedulecontainer .scheduleblock-dashed {
  border-bottom: dotted 1px #B2B3B3; }
#schedulecontainer .scheduleblock-solid {
  border-bottom: solid 1px #B2B3B3; }
#schedulecontainer .scheduleditem {
  width: 100%;
  display: inline-block; }
  #schedulecontainer .scheduleditem-start {
    background-color: #FFFFF0;
    border-top: solid 1px #B2B3B3;
    border-left: solid 1px #B2B3B3;
    border-right: solid 1px #B2B3B3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  #schedulecontainer .scheduleditem-middle {
    border-left: solid 1px #B2B3B3;
    border-right: solid 1px #B2B3B3;
    background-color: #FFFFF0; }
  #schedulecontainer .scheduleditem-end {
    border-bottom: solid 1px #B2B3B3;
    border-left: solid 1px #B2B3B3;
    border-right: solid 1px #B2B3B3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFF0; }
#schedulecontainer img.icon--recurrance {
  margin-top: 3px; }
#schedulecontainer .round-dashed-box, #schedulecontainer .schedulecontainer, #schedulecontainer #managerecurringschedulecontainer, #schedulecontainer #todocontainter .todocontainer, #todocontainter #schedulecontainer .todocontainer, #schedulecontainer .notescontainer-table {
  padding-bottom: 3px;
  padding-top: 3px; }
  #schedulecontainer .round-dashed-box .text, #schedulecontainer .schedulecontainer .text, #schedulecontainer #managerecurringschedulecontainer .text, #schedulecontainer #todocontainter .todocontainer .text, #todocontainter #schedulecontainer .todocontainer .text, #schedulecontainer .notescontainer-table .text {
    padding-left: 20px; }

#managerecurringschedulecontainer td, #managerecurringschedulecontainer th {
  border: dotted 1px #B2B3B3;
  padding: 5px; }

#todocontainter table {
  width: 100%; }
  #todocontainter table tr {
    border-bottom: dotted 1px #B2B3B3; }
    #todocontainter table tr:last-of-type {
      border-bottom: none; }
#todocontainter .todocontainer {
  padding: 5px; }
#todocontainter img.icon--recurrance {
  margin-right: 5px;
  margin-top: -2px; }

.notescontainer-table {
  padding-left: 15px; }
.notescontainer-row {
  display: table-row; }
  .notescontainer-row .links {
    display: table-cell; }
  .notescontainer-row .content {
    display: table-cell;
    width: 80%; }

.allnotescontainer {
  margin-bottom: 20px; }
  .allnotescontainer .note--top {
    padding: 10px;
    background-color: #FFFFF0;
    border: dashed 1px #B2B3B3;
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: dashed 1px #B2B3B3; }
  .allnotescontainer .note--bottom {
    padding: 10px;
    background-color: #FFFFF0;
    border: dashed 1px #B2B3B3;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .allnotescontainer .note a {
    float: right; }

#modal {
  position: fixed;
  bottom: 45px;
  right: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  background-color: #F8F9F9;
  border: 2px solid; }
  #modal input, #modal select {
    border: solid 1px; }
  #modal li {
    list-style: none; }
  #modal .closemodal {
    float: right;
    padding-right: 5px; }
  #modal #modalcontent {
    padding: 10px; }

#backgroundcover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 100; }

.js-schedule-control {
  display: none; }

.priority-title {
  display: table-cell;
  height: 100%;
  padding-right: 4px; }

.list-priority-icon {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: .9em;
  height: .9em;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: -2px; }
  .list-priority-icon--high {
    background-color: #f59f9f; }
  .list-priority-icon--high_complete {
    background-color: #f9dede; }
  .list-priority-icon--medium {
    background-color: #fbc86a; }
  .list-priority-icon--medium_complete {
    background-color: #fbe0ae; }
  .list-priority-icon--low {
    background-color: #f7f77e; }
  .list-priority-icon--low_complete {
    background-color: #efefd9; }

/*# sourceMappingURL=sass-out.css.map */
