body {
  background-color: #FFFFFF; }

h1 {
  font-size: 2rem;
  padding-top: .4rem; }

.main-panel {
  background-color: #FFFFFF; }

.main-panel-full {
  width: 100%;
  height: 100%; }

.main-content-wrapper {
  margin: auto;
  width: 80%; }

.panel-header-xsm {
  height: 80px; }

.panel-header {
  padding-top: 0px;
  background: #3390B5; }

.navbar .container-fluid {
  width: 80%;
  margin: auto; }

.navbar {
  font-size: 1.7rem; }
  .navbar a.navbar-brand {
    padding-top: 1rem; }
  .navbar p {
    font-size: .75rem; }

.sidebar {
  background-color: #BCC415; }
  .sidebar .logo .simple-text, .sidebar .nav li a {
    font-weight: bold;
    color: #095D86 !important; }
  .sidebar .nav i {
    color: #095D86; }
  .sidebar .logo:after {
    background-color: #095D86; }

.off-canvas-sidebar:after, .sidebar:after {
  background: #BCC415; }

#alert-center {
  margin-top: .75rem; }
  #alert-center .alert {
    color: #000000;
    font-weight: bold;
    border: 1px solid #CCC; }
    #alert-center .alert .close {
      color: #000000 !important; }
    #alert-center .alert-success {
      background-color: #87c784; }
    #alert-center .alert-warning {
      background-color: #f1ce8f; }
    #alert-center .alert-danger {
      background-color: #d66060; }

button.navbar-toggler-right {
  position: absolute;
  top: 1rem;
  right: 0; }

#backgroundcover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 100; }

.modal_dashboard {
  z-index: 200;
  background-color: #f1ce8f;
  position: fixed;
  top: 50%;
  width: 80%;
  left: 10%;
  border-radius: 15px;
  border: solid 1px;
  padding: 10px; }

.float--heavyright {
  float: right;
  margin-right: 3rem; }
.float--lightright {
  float: right;
  margin-right: .5rem; }

.spacer_10 {
  display: block;
  padding: 10px; }

.spacer_5 {
  display: block;
  padding: 5px; }

.content--astable {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }
  .content--astable .trow {
    display: table-row; }
    .content--astable .trow--dotted-bottom {
      border-bottom: 1px dotted; }
  .content--astable .tcell {
    display: table-cell; }
    .content--astable .tcell--padded {
      padding: 1rem; }
  .content--astable .theader {
    font-weight: bold; }

.dashboard-nav {
  border-bottom: solid 1px;
  display: block;
  padding-top: .4rem;
  font-size: 1.6rem; }
  @media (max-width: 40em) {
    .dashboard-nav {
      font-size: 1rem; } }
  @media (max-width: 40em) {
    .dashboard-nav .date-title {
      text-align: center; } }
  @media (min-width: 40em) {
    .dashboard-nav .date-title {
      float: right; } }
  @media (max-width: 40em) {
    .dashboard-nav .date-title h1 {
      font-size: 1.2rem; } }
  @media (min-width: 40em) {
    .dashboard-nav .date-nav-links-wrapper {
      float: left; } }
  @media (max-width: 40em) {
    .dashboard-nav .date-nav-links-wrapper {
      margin-top: -2rem;
      width: 100%;
      display: block;
      padding-left: 3.25rem; } }
  .dashboard-nav .date-nav-links-wrapper img {
    padding-top: .6rem; }
  .dashboard-nav .date-nav-links-wrapper .date-nav-link {
    display: block;
    float: left; }

#schedulecontainer-wrapper {
  display: block; }

#schedule-display-controls {
  display: block;
  padding: .5rem 0; }

.schedulecontainer {
  display: table;
  border-collapse: collapse;
  width: 100%; }
  .schedulecontainer .item-details-wrapper {
    display: table;
    border-collapse: collapse;
    width: 100%; }
    .schedulecontainer .item-details-wrapper .item-details {
      display: table-row;
      width: 100%; }
      .schedulecontainer .item-details-wrapper .item-details .item-label {
        display: table-cell;
        padding-left: 1rem;
        font-weight: bold;
        vertical-align: middle; }
        .schedulecontainer .item-details-wrapper .item-details .item-label .item-title {
          float: left; }
        @media (min-width: 40em) {
          .schedulecontainer .item-details-wrapper .item-details .item-label .item-location {
            float: left;
            padding-left: 1rem; } }
      .schedulecontainer .item-details-wrapper .item-details .item-actions {
        display: table-cell;
        border-left: 1px dotted;
        width: 12rem;
        vertical-align: middle; }
        @media (max-width: 40em) {
          .schedulecontainer .item-details-wrapper .item-details .item-actions {
            width: 5rem; } }
        .schedulecontainer .item-details-wrapper .item-details .item-actions button.edit {
          margin-left: .5rem; }

.schedulecontainer_row {
  display: table-row;
  border-bottom: 1px dotted; }

.schedulecontainer_cell {
  display: table-cell;
  height: 2rem; }

.open-item {
  height: 100%;
  padding: .5rem 0; }

.booked-item {
  background-color: #f1ce8f;
  height: 100%;
  padding-top: .75rem; }

.item-start {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid; }

.item-middle {
  border-left: 1px solid;
  border-right: 1px solid; }

.item-end {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid; }

.todo-kanban_group {
  margin: .5rem;
  height: auto; }

.kanban_group--block {
  background-color: #f1ce8f;
  border: 1px solid #999999;
  border-radius: 15px;
  padding: 1rem; }

/*# sourceMappingURL=style.css.map */
